<nav class="navbar navbar-expand-lg bg-body-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img
                src="../../../../assets/logo-planejar.png" alt></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <strong style="color:#024b6a">Estrutura:</strong>
                    <p>Planejar pra Vida</p>
                </li>
            </ul>
            <div class="d-flex">
                <mat-icon>apps</mat-icon>
                <mat-icon>notifications</mat-icon>
                <div class="user">
                    <div class="row">
                        <div class="col-2"> <mat-icon>person</mat-icon>
                        </div>
                        <div class="col-10">
                            <strong style="color:#024b6a">Vitor Rangel
                                Batista</strong>
                            <p>Administrador Geral do Sistema</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</nav>
