<router-outlet></router-outlet>
<app-header></app-header>
<div class="line-actv">
  <button id="sidebar-toggle" class="d-none d-lg-block" (click)="toggleDrawer()"> <mat-icon>dehaze</mat-icon>
      Área de Configurações</button>
      <button id="sidebar-toggle" class="d-lg-none" (click)="toggleDrawer()"> <mat-icon>dehaze</mat-icon>
        Área de Configurações</button>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item"><a href="#">Atividades</a></li>
          <li class="breadcrumb-item active" aria-current="page">Criar
              Votação</li>
      </ol>
  </nav>
</div>

<mat-drawer-container class="example-container">
  <!-- Botão de toggle para desktop -->
  
  <mat-drawer #drawer mode="side" [opened]="isDrawerOpen" class="sidebar">
    <div class="btn-group dropend" role="group">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Acessos
      </button>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Atividades
      </button>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Categoria PJ
      </button>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Certificações
      </button>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Eventos
      </button>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Gestão
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content><app-wizard></app-wizard></mat-drawer-content>
</mat-drawer-container>
